// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

//photo selector
.profile-image-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.img-01 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/01.png);
}

.img-02 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/02.png);
}

.img-03 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/03.png);
}

.img-04 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/04.png);
}

.img-05 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/05.png);
}

.img-06 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/06.png);
}

.img-07 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/07.png);
}

.img-08 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/08.png);
}

.img-09 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/09.png);
}

.img-10 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/10.png);
}

.img-11 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/11.png);
}

.img-12 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/12.png);
}

.img-13 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/13.png);
}

.img-14 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/14.png);
}

.img-15 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/15.png);
}

.img-16 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/16.png);
}

.img-17 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/17.png);
}

.img-18 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/18.png);
}

.img-19 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/19.png);
}

.img-20 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/20.png);
}

.img-21 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/21.png);
}

.img-22 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/22.png);
}

.img-23 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/23.png);
}

.img-24 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/24.png);
}

.img-25 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/25.png);
}

.img-26 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/26.png);
}

.img-27 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/27.png);
}

.img-28 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/28.png);
}

.img-29 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/29.png);
}

.img-30 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/30.png);
}

.img-31 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/31.png);
}

.img-32 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/32.png);
}

.img-33 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/33.png);
}

.img-34 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/34.png);
}

.img-35 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/35.png);
}

.img-36 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/36.png);
}

.img-37 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/37.png);
}

.img-38 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/38.png);
}

.img-39 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/39.png);
}

.img-40 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/40.png);
}

.img-41 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/41.png);
}

.img-42 {
  background-image: url(https://movies-to-watch-tmdb.ew.r.appspot.com/static/img/profile-img/42.png);
}


.profile-image-selector input:active + .photo {
  opacity: .9;
}

.profile-image-selector input:checked + .photo {
  border: 2px solid $primary;
  border-radius: 3px;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.photo {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 73px;
  height: 85px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.3) grayscale(.5) opacity(.7);
  -moz-filter: brightness(1.3) grayscale(.5) opacity(.7);
  filter: brightness(1.3) grayscale(.5) opacity(.7);
}

.photo:hover {
  border: 2px solid $secondary;
  border-radius: 3px;
  -webkit-filter: brightness(1.2) grayscale(.2) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.2) opacity(.9);
  filter: brightness(1.2) grayscale(.2) opacity(.9);
}

//generic
.img-badge {
  @extend .img-fluid;
  @extend .m-0;
  @extend .border-1;
  @extend .rounded;
  @extend .border;
  @extend .border-secondary-subtle;
}

.movie-container {
  @extend .col-lg-6;
  @extend .m-0;
  @extend .p-0;
  @extend .ps-1;
  @extend .pt-1;

}

//movie list
.movie-card {
  @extend .card;
  @extend .m-0;
  @extend .p-2;

  .first-col {
    @extend .col-3;
    @extend .m-0;
    @extend .p-0;
    @extend .ps-2;
  }

  .second-col {
    @extend .col-9;
  }

  .movie-header {
    @extend .row;

    h5 {
      @extend .h5;
      @extend .text-primary-emphasis;
    }

    .movie-title {
      @extend .h3;
      @extend .text-primary-emphasis;
    }

    .minor-details-row {
      @extend .row;
      @extend .mb-3;
      min-height: 3em;

      .minor-details {
        @extend .col;
        @extend .small;
      }

      .minor-details:not(:first-of-type) {
        @extend .border-start;
        @extend .border-dark-subtle;
        @extend .border-1;
        @extend .ps-2;
      }

      .minor-details:not(:last-of-type) {
        @extend .pe-2;
      }

      .released {
        @extend .minor-details;
        @extend .col-4;
      }

      .genre {
        @extend .minor-details;
        @extend .col-5;
      }

      .runtime {
        @extend .minor-details;
        @extend .col-3;
      }
    }

    .text-body {
      @extend .text-body-secondary;
      min-height: 12em;
    }

  }

  .poster {
    @extend .pt-3;

    img {
      @extend .ps-2;
      @extend .img-fluid;
      @extend .m-0;
      @extend .p-0;
    }
  }

  .refs-and-status {

    .ext-ref-buttons {
      @extend .row;
      @extend .p-2;

      .ext-button {
        @extend .col-3;
        @extend .p-1;

        a {
          @extend .btn;
          @extend .btn-outline-primary;
          @extend .w-100;

          min-height: 4em;
          font-size: $small-font-size;
        }
      }

      .trailer {
        @extend .ext-button;
      }

      .tmdb {
        @extend .ext-button;
      }

      .watched-alone {
        @extend .ext-button;

        a {
          @extend .btn-outline-dark;
        }
      }

      .watched-together {
        @extend .ext-button;

        a {
          @extend .btn-outline-dark;
        }
      }
    }
  }

  .providers {
    @extend .row;
    min-height: 6em;

    .section:not(:first-of-type) {
      @extend .border-start;
      @extend .border-dark-subtle;
      @extend .border-1;
    }

    .section {
      @extend .ps-1;
      @extend .p-0;
      @extend .col-6;

      p {
        @extend .small;
        @extend .text-secondary;
        @extend .p-0;
        @extend .ps-2;
        @extend .m-0;
      }

      .items {
        @extend .row;
        @extend .p-1;
        @extend .m-0;

        .badge {
          @extend .col-3;
          @extend .p-0;
          @extend .ps-1;

          img {
            @extend .img-badge;
            max-height: 5em;
          }
        }
      }
    }
  }

  .votes {
    @extend .row;
    @extend .p-0;
    @extend .m-0;

    h5 {
      @extend .h5;
      @extend .p-1;
      @extend .text-primary-emphasis;
    }

    .tally {
      @extend .row ;
      @extend .p-1 ;
      @extend .m-0;

      .cast {
        @extend .col;
        @extend .p-0;

        .badges {
          @extend .row;
          @extend .p-0;
          @extend .m-0;
          min-height: 7em;

          .badge {
            @extend .col-2;
            @extend .p-0;
            @extend .ps-1;
            @extend .pt-1;
            @extend .m-0;

            img {
              @extend .img-badge;
            }
          }
        }
      }

      .cast-yes {
        @extend .cast;
        @extend .pe-1;

        p {
          @extend .text-success;
        }
      }

      .cast-no {
        @extend .cast;
        @extend .border-start ;
        @extend .border-1 ;
        @extend .border-dark-subtle;

        p {
          @extend .text-danger;
        }
      }
    }

    .your-vote {
      @extend .row;
      @extend .p-0;
      @extend .m-0;
      @extend .mt-2;

      .buttons {
        @extend .col;
        @extend .m-0;
        @extend .p-0;
      }

      .yes {
        @extend .buttons;
        @extend .me-1;

        .button-active {
          @extend .btn;
          @extend .btn-outline-success;
          @extend .w-100;
        }

        .button-selected {
          @extend .btn;
          @extend .btn-success;
          @extend .w-100;
          @extend .disabled;
        }
      }

      .no {
        @extend .buttons;

        .button-active {
          @extend .btn;
          @extend .btn-outline-danger;
          @extend .w-100;
        }

        .button-selected {
          @extend .btn;
          @extend .btn-danger;
          @extend .w-100;
          @extend .disabled;
        }
      }
    }
  }
}