<footer class="footer mt-auto py-4 bg-dark">
  <div class="container col-xxl-8">
    <div class="row justify-content-between">
      <div class="col-lg-2 py-5">
        <p class="text-light"><img
            src="{{ url_for('static', filename='img/m2w-icon.svg') }}" alt="Movies-to-watch"
            title="Movies-to-watch icon" style="max-width:100%;"></p>
        <p class="text-light"><a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="nofollow"><img
            src="{{ url_for('static', filename='img/license.svg') }}" alt="License: CC BY-SA 4.0"
            title="Creative Commons Attribution Share Alike 4.0" style="max-width:100%;"></a></p>
        {% if logged_on %}
          <p class="text-light"><a href="/" class="text-light" rel="nofollow">Default group</a></p>
          <p class="text-light"><a href="/profile" class="text-light" rel="nofollow">Profile</a></p>
          <p class="text-light"><a href="/logout" class="text-light" rel="nofollow">Log out</a></p>
        {% else %}
          <p class="text-light"><a href="/" class="text-light" rel="nofollow">Home</a></p>
          <p class="text-light"><a href="/login" class="text-light" rel="nofollow">Log in</a></p>
        {% endif %}
      </div>
      <div class="col-lg-3 py-5 text-nowrap">
        <p class="text-light fw-bolder"><span class="ms-1">Powered by</span></p>
        <p class="text-light"><a href="https://flask.palletsprojects.com/" rel="nofollow">
          <img width="32" height="32" src="{{ url_for('static', filename='img/flask-icon.png') }}"
               alt="Powered by Flask"
               title="Powered by Flask" style="max-width:100%;"></a><span class="ms-1">Flask</span>
        </p>
        <p class="text-light"><a href="https://getbootstrap.com/" rel="nofollow" class="link-light">
          <img width="32" height="32" src="{{ url_for('static', filename='img/bootstrap.svg') }}"
               alt="Powered by Bootstrap"
               title="Powered by Bootstrap" style="max-width:100%;"></a><span class="ms-1">Bootstrap 5</span>
        </p>
        <p class="text-light mt-5 fw-bolder"><span class="ms-1">Data sourced from</span></p>
        <p class="text-light"><a href="https://www.themoviedb.org/" rel="nofollow" class="link-light">
          <img height="32" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
               alt="Data sourced from TMDB"
               title="Data sourced from TMDB" style="max-width:100%;"></a>
        </p>
        <p class="text-light mt-5 fw-bolder"><span class="ms-1">Watch Provider Data sourced from</span></p>
        <p class="text-light"><a href="https://www.justwatch.com/" rel="nofollow" class="link-light">
          <img height="32" src="https://www.justwatch.com/appassets/img/logo/JustWatch-logo-large.png"
               alt="Watch provider data sourced from JustWatchB"
               title="Watch provider data sourced from JustWatch" style="max-width:100%;"></a>
        </p>
      </div>
    </div>
  </div>
</footer>
