<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Movies-to-watch :: {% block title %}...{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/m2w-icon.svg') }}">
    <script defer="defer" src="{{ url_for('static', filename='script/main.js') }}"></script>
    <link href="{{ url_for('static', filename='style/main.css') }}" rel="stylesheet">
</head>
<body>
{% block navbar %}
    {% include './generic/navbar.html' %}
{% endblock %}
<div class="container py-4 px-3 mx-auto  min-vh-100">
    {% block content %}
        Content goes here
    {% endblock %}
</div>
{% block footer %}
    {% include './generic/footer.html' %}
{% endblock %}
</body>
</html>