@media only screen and (max-width: 1080px) {
  body {
    background-color: greenyellow;
  }

  p {
    font-size: x-large;
  }

  input {
    font-size: x-large;
  }
}

  body {
    font-family: "helvetica", sans-serif;
    text-align: center;
    background-color: lightblue;
  }