{% extends 'generic/layout.html' %}
{% block title %}Approved{% endblock %}
{% block content %}
    <h1>Movies-to-watch Approved</h1>
  {% if success %}
      <div class="alert alert-success" role="alert">
    <p>Congratulations, your Movies-to-watch account is successfully linked with your TMDB account!</p>
  </div>  
  {% else %}
      <div class="alert alert-danger" role="alert">
    <p>Something went wrong!</p>
          <p>The following error occurred:</p>
    <p>{{ error }}</p>
  </div> 
  {% endif %}
{% endblock %}