<div>
    <h2>Your Movies</h2>
    {% for key, value in movies.items() %}
    <div id="movie-{{value['id']}}">
      <h2>{{value['title']}}</h2>
      <p><image src={{value['poster']}} width="300" height="450"></image></p>
      <p>{{value['overview']}}</p>
      <p>Genres: {{value['genres']}}</p>
      <p>Runtime: {{value['runtime']}} Minutes</p>
      <p>Release date: {{value['release_date']}}</p>
      <p><a href={{value['trailer']}} target="_blank">Watch the trailer</a></p>
      <p><a href={{value['tmdb']}} target="_blank">Go to TMDB</a></p>
      <div>
        <p>Stream: </p>
        {% for elem in value['providers']['stream'] %}
        <image src={{elem['logo_path']}} title="{{elem['provider_name']}}" width="75" height="75"></image>
        {% endfor %}
      </div>
      <div>
        <p>Rent: </p>
        {% for elem in value['providers']['rent'] %}
        <image src={{elem['logo_path']}} title="{{elem['provider_name']}}" width="75" height="75"></image>
        {% endfor %}
      </div>
      <div>
        <p>Buy: </p>
        {% for elem in value['providers']['buy'] %}
        <image src={{elem['logo_path']}} title="{{elem['provider_name']}}" width="75" height="75"></image>
        {% endfor %}
      </div>
      <div>
        <p>Votes:</p>
        {% for vote in value['votes'].values() %}
          <div>{{vote['nickname']}} 
            {% if vote['vote'] == "liked" %}
              {% if vote['nickname'] == "You" %}
              <div id="my_vote{{value['id']}}">
                <image data-feather="check" title="wants to watch"></image>
                <button hx-get="/api/vote/{{value['id']}}/block" hx-trigger="click" hx-target="#my_vote{{value['id']}}" hx-indicator="#indicator{{value['id']}}">Not interested</button>
                <img class="htmx-indicator" id="indicator{{value['id']}}" src="{{ url_for('static', filename='three-dots.svg') }}" height="15">
              </div>
              {% else %}
              <div>
                <image data-feather="check" title="wants to watch"></image>
              </div>
              {% endif %}
            {% elif vote['vote'] == "blocked" %}
              {% if vote['nickname'] == "You" %}
              <div id="my_vote{{value['id']}}">
                <image data-feather="x" title="not interested"></image>
                <button hx-get="/api/vote/{{value['id']}}/like" hx-trigger="click" hx-target="#my_vote{{value['id']}}" hx-indicator="#indicator{{value['id']}}">Want to watch</button>
                <img class="htmx-indicator" id="indicator{{value['id']}}" src="{{ url_for('static', filename='three-dots.svg') }}" height="15">
              </div>
              {% else %}
              <div>
                <image data-feather="x" title="not interested"></image>
              </div>
              {% endif %}
            {% else %}
              {% if vote['nickname'] == "You" %}
              <div id="my_vote{{value['id']}}">
                <image data-feather="minus" title="not voted"></image>
                <button hx-get="/api/vote/{{value['id']}}/block" hx-trigger="click" hx-target="#my_vote{{value['id']}}" hx-indicator="#indicator{{value['id']}}">Not interested</button>
                <button hx-get="/api/vote/{{value['id']}}/like" hx-trigger="click" hx-target="#my_vote{{value['id']}}" hx-indicator="#indicator{{value['id']}}">Want to watch</a>
                <img class="htmx-indicator" id="indicator{{value['id']}}" src="{{ url_for('static', filename='three-dots.svg') }}" height="15">
              </div>
              {% else%}
              <div>
                <image data-feather="minus" title="not voted"></image>
              </div>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <a href="/profile">My Profile</a><br>
    <script>
      feather.replace();
    </script>
</div> 