{% extends 'generic/layout.html' %}
{% block title %}Sign in{% endblock %}
{% block content %}
  <h1>Sign in to Movies-to-watch</h1>
  {% if error %}
      <div class="alert alert-danger" role="alert">
          <p> The following error occurred:</p>
    {% if error == "INVALID_EMAIL" %}
    <p> Email is not valid! </p>
    {% elif error == "MISSING_PASSWORD" %}
    <p> Password is missing! </p>
    {% elif error == "INVALID_LOGIN_CREDENTIALS" %}
    <p> Email or password is incorrect! </p>
    {% else %}
    <p> {{error}} </p>
    {% endif %}
  </div>
  {% endif %}
  {% if target %}
      <form action="/login?redirect={{ target }}" method="post">
          <label for="email">Email:</label><input id="email" type="email" name="email" value={{ email }}><br><br>
          <label for="password">Password:</label><input id="password" type="password" name="password"
                                                        value={{ password }}><br><br>
          <input class="btn btn-outline-primary" type="submit" value="Sign in">
  </form>
  {% else %}
      <form action="/login" method="post">
          <label for="email">Email:</label><input id="email" type="email" name="email" value={{ email }}><br><br>
          <label for="password">Password:</label><input id="password" type="password" name="password"
                                                        value={{ password }}><br><br>
          <input class="btn btn-outline-primary" type="submit" value="Sign in">
  </form>
  {% endif %}
    <div class="alert alert-primary" role="alert">
    <p>Not a member?</p>
    <p>Register an account <a href="/signup">here</a> !</p>
  </div>
{% endblock %}