{% extends 'generic/layout.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
  <h1>My Movies-to-watch Profile</h1>
  <div class="row row-cols-lg mt-5">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6 card bg-light">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-primary" role="alert">
            {% for message in messages %}
              <p>{{ message }}</p><br>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      {% if profile_data %}
        <div>
          <p> Email: {{ profile_data['email'] }}</p>
          <p> Nickname: {{ profile_data['nickname'] }}</p>
          <p> Locale: {{ profile_data['locale'] }}</p>
          <p> Profile picture: </p>
          <p><img src="/static/img/profile-img/{{profile_data['profile_pic']}}"></p>
          <form action="/profile" method="post">
              <div class="row">
                <div class="col-form-label">
                  <span class="form-label pt-2">Profile image:</span><sup class="text-danger" title="Required!">*</sup>
                </div>
                <input type="hidden" name="current_profile_pic" value="{{ profile_data['profile_pic'] }}">
                <div class="col">
                  <div class="profile-image-selector">
                    {% for elem in profile_pics %}
                      {% if elem['checked']==True %}
                        <input id="{{elem['id']}}" type="radio" name="profile_image" value="{{elem['value']}}" checked="checked"/>
                        <label class="photo {{elem['id']}}" for="{{elem['id']}}"></label>
                      {% else %}
                        <input id="{{elem['id']}}" type="radio" name="profile_image" value="{{elem['value']}}"/>
                        <label class="photo {{elem['id']}}" for="{{elem['id']}}"></label>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col">
                  <input class="btn btn-outline-primary w-100" type="submit" value="Save Changes">
                </div>
              </div>
            </form>
          {% if profile_data['tmdb_session'] == None %}
            <a class="btn btn-outline-primary" href="/link-to-tmdb">Link with TMDB account</a><br>
          {% else %}
            <p class="fw-bold">Your linked TMDB Account: </p>
            <p>TMDB ID : {{ profile_data['tmdb_user']['id'] }}</p>
            <p>TMDB Username : {{ profile_data['tmdb_user']['username'] }}</p>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="col-lg-3">
    </div>
  </div>
{% endblock %}