<!doctype html>
<html>
<head>
  <title>Movies-to-watch</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Movies-to-watch Profile Page</h1>
  {% if profile_data %}
  <div>
    <p> Profile infos</p><br>
    {% for key, value in profile_data.items() %}
    <p>{{key}}: {{value}}</p><br>
    {% endfor %}
    {% if profile_data['tmdb_session'] == None %}
        <a href="/link-to-tmdb">Link with TMDB account</a><br>
    {% endif %}
    <a href="/logout">Log out</a><br>
    <a href="/">Back to Home</a>
  </div>  
  {% else %}
  <div>
    <p> You are not logged in. </p><br><br>
    <a href="/login">Log in</a>
  </div> 
  {% endif %}
  <p>Made by Narogi</p>
</body>
</html>