<!doctype html>
<html>
<head>
  <title>Movies-to-watch</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Sign up for Movies-to-watch</h1>
  {% if error %}
  <div>
    <p> The following error occured:</p>
    {% if error == "INVALID_EMAIL" %}
    <p> Email is not valid! </p>
    {% elif error == "MISSING_PASSWORD" %}
    <p> Password is missing! </p>
    {% elif error == "INVALID_LOGIN_CREDENTIALS" %}
    <p> Email or password is incorrect! </p>
    {% elif error == "EMAIL_EXISTS" %}
    <p> Email already exists! </p>
    {% elif error == "WEAK_PASSWORD : Password should be at least 6 characters" %}
    <p> Password should be at least 6 characters! </p>
    {% else %}
    <p> {{ error }} </p>
    {% endif %}
  </div>
  {% endif %}
  {% if success %}
  <div>
    <p> Your account is successfully created! </p>
    <p> Your can log in <a href="/login">here</a>. </p>
  </div>
  {% else %}
  <form action="/signup" method="post">
    *Email: <input type="email" name="email" value={{ email }}><br><br>
    *Confirm Email: <input type="email" name="email_confirm" value={{ email_c }}><br><br>
    *Password: <input type="password" name="password" value={{ password }}><br><br>
    *Confirm Password: <input type="password" name="password_confirm" value={{ password_c }}><br><br>
    Nickname: <input type="text" name="nickname" value={{ nickname }}><br><br>
    <input type="submit" value="Register">
  </form>
  <p>Back to <a href="/">home</a></p>
  {% endif %}
  <p>Made by Narogi</p>
</body>
</html>