{% if vote == "liked" %}
    <div class="yes">
        <button class="button-selected">I'm in!</button>
    </div>
{% else %}
    <div class="yes">
        <button hx-get="/api/vote/{{ movie_id }}/like" hx-trigger="click" hx-target="#my_vote{{ movie_id }}"
                hx-indicator="#indicator{{ movie_id }}" class="button-active">I'm in!
        </button>
    </div>
{% endif %}
    {% if vote == "blocked" %}
        <div class="no">
            <button class="button-selected">I'm out!</button>
    </div>
{% else %}
        <div class="no">
            <button hx-get="/api/vote/{{ movie_id }}/block" hx-trigger="click" hx-target="#my_vote{{ movie_id }}"
                    hx-indicator="#indicator{{ movie_id }}" class="button-active">I'm out!
            </button>
    </div>
{% endif %}
    <img alt="Working..." class="htmx-indicator" id="indicator{{ movie_id }}"
         src="{{ url_for('static', filename='img/three-dots.svg') }}" height="15">
